<style>
    .account-page-title{
        background:#FDF1F0;
    }
    .account-page-title h1,
    .account-page-title h2{
        line-height:1.1;
    }
</style>
<div class="account-page-title pt-50 pb-50 t-pt-60 t-pb-60 d-pt-70 d-pb-70 hd-pt-80 hd-pb-80 hhd-pt-100 hhd-pb-100">
    <div class="container tc">
        <div class="max-750" style="margin:0 auto;">
            <div class="p6 uppercase medium-500 pb-10 d-pb-15 c-black">{{ 'customer.account.title' | t }}</div>
            <h1 class="h3 uppercase spacing-3">{{ customer.first_name}} {{ customer.last_name}}</h1>
        </div>
    </div>
</div>