<div class="flex flex-column pb-40 t-pb-50 d-pb-50">
    {%- render 'global-image-wrapper', image: block.settings.image, additional_class: 'no-bg rounded-20 t-rounded-24 mb-20 t-mb-20 d-mb-20' -%}
    <p class="p1">{{ block.settings.text | newline_to_br }}</p>
</div>
