{% comment %}
Love&Co Theme
Description:
Snippet for displaying free shipping information

Variables:
wrapper_class: String, class for the wrapper
text_class: String, class for the text
junio - ongoing
{% endcomment %}

<style>
    .free-shipping-info .cart-prompt:first-child {
        margin-top: 0;
    }
    .free-shipping-info .cart-indicator-bar {
        position: relative;
        height: 5px;
        background: var(--border);
    }
    .free-shipping-info .cart-indicator-inner {
        position: absolute;
        left: 0;
        height: 5px;
    }
</style>

{%- if localization.country.iso_code == 'SG' -%}
<div data-market="{{ localization.country.iso_code }}" class="free-shipping-info {{ wrapper_class }}">
    {%- assign convert_pro = all_products['for-internal-use-converter'] -%}
    {%- assign converted_price = settings.cart_fs_free | times: convert_pro.price -%}
    {%- assign free_shipping = converted_price | divided_by: 100-%}
    {% assign diff = free_shipping | minus: cart.original_total_price %}
    {% assign percentage = diff | times: 100 | divided_by: free_shipping %}

    {% if cart.total_price < free_shipping %}
        {% assign difference = free_shipping | minus: cart.total_price %}
        {% assign difference = difference | money_with_currency %}
        {% assign spend = settings.spend_title |  replace: '[amount]', difference  %}
        <div class="cart-prompt cart-prompt-style p2 medium-500">
            {{ spend }}
        </div>
        
        <div class="cart-indicator-bar mt-12 overflow">
            <div style="width:{{ 100 | minus: percentage }}%" class="cart-indicator-inner bg-black"></div>
        </div>
    {% else %}
        <div class="cart-prompt cart-prompt-style p2 medium-500">
            {{ settings.success_spend_title }}
        </div>

        <div class="cart-indicator-bar mt-12 overflow">
            <div style="width:{{ 100 | minus: percentage }}%" class="cart-indicator-inner bg-black"></div>
        </div>
    {% endif %}
</div>
{% endif %}
<!-- end free shipping info -->