{%- assign variant = product.selected_or_first_available_variant -%}
<span
    class="product-price">
    {%- if variant.compare_at_price > variant.price -%}
        <span class="onsale">{{ variant.price | money_with_currency }}</span>
        <strike class="c-grey ml-5">{{ variant.compare_at_price | money_with_currency }}</strike>
    {%- else -%}
        <span>{{ variant.price | money_with_currency }}</span>
    {%- endif -%}
</span>