a {
	cursor: pointer;
	outline: none ;
}

h1 {
	&.p1,&.h1,&.h2,&.h3,&.h4,&.h5,&.h6 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

body:not(.no-bar) {
	.global-content-top-margin {
		margin-top: 0 !important;
	}
}

.sticky-below-header {
	position: sticky;
	top: 82px;
	left: 0;

	@include on(desktop) {
        top: 104px;
	}
}

.overlay{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: rgba(0, 0, 0, 0.12);
	z-index: 9;
}

body{
	&.nooverflow{
		overflow:hidden !important;
	}
}

.global-image-wrapper{
	position:relative;
	width:100%;
	height:0;
	padding-bottom:100%;
	background:#eee;

	&.no-bg{
		background: transparent;
	}
	.image{
		position:absolute;
		top:0;
		left:0;
		opacity:0;
		transition: opacity 0.3s;
		
		&.loaded{
			opacity:1;
		}
	}
	
	&.product{
		padding-bottom:66%;
	}

	.video{
		position:absolute;
		top:0;
		left:0;
		opacity:0;
		transition: opacity 0.3s;
		&.loaded{
			opacity:1;
		}
	}
}

.page-overlay {
	display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: rgba(23,23,23,0.5); 
    z-index: 99999;
	transition: 1s all ease;
	opacity: 0;
	visibility: hidden;
	will-change: opacity;

	&.active {
        display: block;
		// animation: fadeIn 1s;
		visibility: visible;
		opacity: 1;
    }

	&.fade-out {
        display: block;
		// animation: fadeOut 1s;
	}

	&.header-overlay{
		z-index: 999;
	}
}

.page-loading {
	display: none;
    transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	background-repeat:no-repeat;
	background-position:center;
	background-image:url("rolling.gif");
	background-size: 70px;
	
	&.active {
        display: block;
    }
}

.global-input {
	width: 100%;
	background: #ffffff;
	padding: rem(15) rem(20);
	border: 1px solid var(--comfort-orange);

	&::-webkit-input-placeholder {
		color: rgba(173, 173, 173, 0.7);
	}

	&::-moz-placeholder {
		color: rgba(173, 173, 173, 0.7);
	}

	&:-ms-input-placeholder {
		color: rgba(173, 173, 173, 0.7);
	}

	&:-moz-placeholder {
		color: rgba(173, 173, 173, 0.7);
	}
}

.global-flex {
	display: flex;

	&.flex-center {
		align-items: center;
		align-content: center;
		justify-content: center;
	}
}

.global-select-div{
	position:relative;
	background-color: #ffffff;
	padding: rem(15) rem(20);
	cursor:pointer;
	border-radius: var(--border-radius);

	&.active{
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		
		&.plus-min {
			.icons {
				.icon-plus {
					display: none;
				}
	
				.icon-minus {
					display: flex;
				}
			}
		}

		.icons {
			.icon-caret {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		.options{
			display: block;
		}
	}

	&.selected-inline {
		.inner {
			display: flex;
			// justify-content: space-between;
		}
		.text {
			margin-right: 15px;
		}
	}

	&.plus-min {
		.icons {
			.icon-plus {
				display: flex;
			}

			.icon-minus {
				display: none;
			}
		}
	}

	&.shadow {
		&.active {
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 10px;
				background-color: #fff;
				position: absolute;
				bottom: -5px;
				left: 0;
				z-index: 9;
			}
		}
		.options {
			box-shadow: unset;
		}
	}

	.options{
		position:absolute;
		top:100%;
		left:0;
		width:100%;
		width: calc(100% + 2px);
		margin-left: -1px;
		background:#fff;
		display:none;
		z-index:2;
		max-height:rem(200);
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		overflow-y: auto;
		li{
			border-bottom:0;
			padding: 7.5px 20px;

			&:first-child {
				padding-top: rem(15);
			}
			&:last-child {
				padding-bottom: rem(15);
			}
		}
	}

	select{
		display:none;
	}

	.icons {
		.icon {
			position:absolute;
			top:50%;
			right: 0;
			transform:translateY(-50%);
			width: 10px;
			height: 10px;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.image {
	display: block;
	width:100%;
	height:auto;
}

.global-notification{
	display:none;
}

.global-form-qty {
	width: rem(79);
	height: rem(28);
	display: flex;
	align-items: center;
	justify-content: space-between;

	&.small {
		padding: 0 12px;
		border: 0.5px solid var(--border);
		width: 75px;
		height: 36px;

		button {
			width: 8px;
			height: 8px;
		}

		.global-qty-text {
			width: rem(22);
			height: rem(36);
		}
	}

	&.mobile-small {
		width: 54px;
		height: 20px;

		@include on(desktop) {
			width: rem(79);
			height: rem(28);
		}

		button {
			width: 8px;
			height: 8px;

			@include on(desktop) {
				width: 12px;
				height: 12px;
			}
		}

		.global-qty-text {
			width: rem(22);
			height: rem(20);

			@include on(desktop) {
				width: rem(35);
				height: rem(28);
			}
		}
	}

	button {
		width: 12px;
		height: 12px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:disabled{
			cursor:not-allowed;
			opacity:0.5;
		}
	}

	.global-qty-text {
		width: rem(35);
		height: rem(28);
		text-align:center;
		border: 1px solid var(--border-orange);
		border-radius: 5px;
		-moz-appearance: textfield !important;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}
	}
}

.global-pagination{
	text-align:center;

	li{
		display:inline-block;
		margin-left:rem(5);
		margin-right:rem(5);
	}
}

.mobile-atc{
	.quick-add-mobile{
		display: none;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		border: 1px solid #DEDEDE;
		padding: 20px 15px 10px 15px;
		background-color: #ffffff;
		z-index: 9;

		.icon{
			width: 10px;
			height: 10px;
			svg{
				width: 10px;
				height: 10px;
			}
		}

		.option-each-button{
			padding: 12px 10px;
			border: 1px solid #DEDEDE;
			text-align: center;
    		width: calc(100% / 5 - 11px);
			position: relative;

			@include on(tablet) {
				width: calc(100% / 6 - 11px);
			}

			&:hover {
				border: 1px solid #2E2E2E;
			}

			&.disabled{
				background: linear-gradient(to top right, #fff calc(50% - 1px), #DEDEDE , #fff calc(50% + 1px) );
				color:#DEDEDE;
				&:hover {
					border: 1px solid #DEDEDE;
				}
			}
		}
		&.active {
			display: block;
		}
	}
}

.product-each {
	height: 100%;
    display: flex;
    flex-direction: column;
    
	&.wishlist {
		.remove-wishlist {
			position: absolute;
			width: 35px;
			height: 40px;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: 6px;
				height: 11px;

				* {
					fill: var(--black);
				}
			}
		}
	}

	.swatch-label {
		letter-spacing: 0.1px;
	}
	.swatch {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-right: 7px;
		margin-left: 3px;
		width: 16px;
		height: 16px;
		// border: 1px solid transparent;
		border-radius: 50%;
		cursor: pointer;
		transition: 0.3s ease all;

		.swatch-inner {
			position: absolute;
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}

		&.active {
			// border: 1px solid var(--black);
			box-shadow: 0 0 0 2px #fff, 0 0 0 3px #272522;
		}

		&.disabled{
			position: relative;
			&::after {
				content: "";
				position: absolute;
				background-color: #FFFFFF;
				height: 130%;
				width: 1px;
				left:50%;
				top:50%;
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&.active{
				&::after {
					background-color: #272522;
				}
			}
	
			&.swatch-white{
				&::after {
					background-color: #272522;
				}
			}
		}
	}

	.variant-each-button{
		cursor: pointer;
		position: relative;
		&.disabled{
			color:#808080;
			cursor: not-allowed;
			
			&::after {
				content: "";
				position: absolute;
				background-color: #808080;
				height: 115%;
				width: 1px;
				left:50%;
				top:50%;
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 0.5px;
			transform-origin: left;
			transition: 0.3s ease all;
			transform: scaleX(0);
			background: var(--black);
			left: 0;
			bottom: 0;
		}

		&:hover {
			&::before {
				transform: scaleX(1);
			}
		}
	}

	.details-con {
		.second-price {
			white-space: nowrap;   
		}
	}
	
	&.with-hover{
		.secondary{
			display:none;
		}

		@include on(desktop){
			&:hover{
				.primary{
					display:none;
				}

				.secondary{
					display:block;
				}
			}
		}
	}

	.wishlist-handler-p-each {
		// position: absolute;
		display: block !important;
		width: 16px !important;
		height: 16px !important;
		font-size: 0;
		right: 20px; 
		bottom: 20px;
		z-index: 3;
	
		svg {
			display: block;
			width: 16px;
			height: 16px;

			* {
				stroke: var(--grey);
			}
		}

		&::after {
			display: none;
		}

		&.swym-added {
			svg {
				* {
					fill: var(--grey);
					stroke: var(--grey);
				}
			}
		}
	}

	.pro-tags-container {
		position: absolute;
		width: calc(100% - 20px);
		top: 10px;
		left: 10px;
		text-align: left;
		
		@include on(desktop){
			width: calc(100% - 30px);
			top: 10px;
			left: 10px;
		}

		.tag-each {
			display: inline-block;
			padding: 2px 6px;
			position: relative;
			margin-right: 5px;
			margin-bottom: 5px;
		}
	}
	.tag-each {
		padding: 6px;
		position: relative;
		border-radius: 2px;
	}

	#hoolah-tagline,
	.grab_widget {
		display: none !important;
	}

	.ratings-wrapper {
		* {
			font-size: 0;
		}
		.oke-sr-stars {
			margin-right: 5px;
		}
		.oke-sr-count-number {
			font-size: 12px;
			color: var(--dark-green);
			display: inline-block;
			transform: translateY(1px);
		}
	}

	&.lookbook {
		.hover-content {
			position: absolute;
			left: 0;
			bottom: 0;
			transition: 0.3s ease all;
			width: calc(100% - 40px);
			visibility: hidden;
			opacity: 0;
			transition: 0.3s ease all;
		}

		@include on(desktop) {
			&:hover {
				.hover-content {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.quick-add-desktop{
		display: none;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		border: 1px solid #DEDEDE;
		padding: 20px 15px 10px 15px;
		background-color: #ffffff;
		z-index: 8;

		@include on(desktop) {
			position: absolute;
		}

		.icon{
			width: 10px;
			height: 10px;
			svg{
				width: 10px;
				height: 10px;
			}
		}

		.option-each-button{
			padding: 12px 10px;
			border: 1px solid #DEDEDE;
			text-align: center;
    		width: calc(100% / 4 - 11px);
			position: relative;

			@include on(hd) {
				width: calc(100% / 5 - 11px);
			}

			@include on(hhd) {
				width: calc(100% / 6 - 11px);
			}

			&:hover {
				border: 1px solid #2E2E2E;
			}
			&.disabled{
				background: linear-gradient(to top right, #fff calc(50% - 1px), #DEDEDE , #fff calc(50% + 1px) );
				color:#DEDEDE;
				&:hover {
					border: 1px solid #DEDEDE;
				}
			}
		}
		&.active {
			display: block;
		}
	}

	.quick-add-mobile{
		display: none;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		border: 1px solid #DEDEDE;
		padding: 20px 15px 10px 15px;
		background-color: #ffffff;
		z-index: 3;

		.icon{
			svg{
				width: 10px;
				height: 10px;
			}
		}

		.option-each-button{
			padding: 12px 10px;
			border: 1px solid #DEDEDE;
			text-align: center;
    		width: calc(100% / 3 - 11px);
			position: relative;

			&:hover {
				border: 1px solid #2E2E2E;
			}
		}
		&.active {
			display: block;
		}
	}

	.hover-desktop{
		display: none;
		position: absolute;
		bottom: 15px;
		left: 15px;
		background-color: #ffffff;
		padding: 10px;
		border-radius: 50%;
		font-size: 0;
		
		&.collection-bis-trigger{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewBox='0 0 18 14'%3E%3Cpath id='Path_634' data-name='Path 634' d='M3,19V5H21V19Zm9-6.885L4,6.885V18H20V6.885ZM12,11l7.692-5H4.308ZM4,6.885v0Z' transform='translate(-3 -5)' fill='%232b2b2b'/%3E%3C/svg%3E");
			background-position: center;
			background-size: 16px;
			background-repeat: no-repeat;
			padding: 16px;
		}
		&.collection-atc-trigger{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.73' height='23.272' viewbox='0 0 17.73 23.272'%3E%3Cg transform='translate(0.751 0.75)'%3E%3Crect width='16.23' height='15.143' transform='translate(-0.001 6.629)' fill='none' stroke='%232c2c2c' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1.5'%3E%3C/rect%3E%3Cpath d='M36.34,75.727v-6.2a4.766,4.766,0,0,1,9.5,0v6.2' transform='translate(-32.976 -65.136)' fill='none' stroke='%232c2c2c' stroke-miterlimit='10' stroke-width='1.5'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
			background-position: center;
			background-size: 13px;
			background-repeat: no-repeat;
			padding: 16px;
			&.is-loading{
				background-image: unset;
			}
		}
		svg{
			width: 15px;
			height: 15px;
		}
	}

	.original-container{
		transition: 0.3s all ease;
		opacity: 1;
	}

	.hovered-container{
		transition: 0.3s all ease;
		opacity: 0;
		background-color: #fff;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.swiper{
		.swiper-slider-arrow {
			transition: 0.3s all ease;
			opacity: 0;
		}
	}
	

	&:hover:not(.wishlist) {
		.hover-desktop{
			@include on(desktop) {
				display: block;
			}
		}

		.original-container{
			@include on(desktop) {
				opacity: 0;
			}
		}

		.hovered-container{
			@include on(desktop) {
				opacity: 1;
			}
		}

		.swiper {
			&.swiper-initialized {
				.swiper-slider-arrow {
					&:not(.swiper-button-disabled){
						@include on(desktop) {
							opacity: 1;
						}
					}
				}
				
			}
		}
	}

	.color-box{
		width: 10px;
		height: 10px;
	}
}

.product-card-2 {
	&.h-on-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include on(tablet) {
			display: block;
		}

		a {
			flex: 1;
			display: flex;
			align-items: center;

			@include on(tablet) {
				display: block;
			}

			.image-con {
				width: 95px;
				margin-right: 15px;
				margin-bottom: 0;
	
				@include on(tablet) {
					width: auto;
					margin-right: 0;
					margin-bottom: 10px;
				}
			}
		}

		.atc-button {
			width: 28px;
			height: 28px;

			@include on(tablet) {
				width: 20px;
				height: 20px;
			}

			.icon {
				width: 13px;
				height: 13px;

				@include on(tablet) {
					width: 9px;
					height: 9px;
				}
			}
		}
	}

	.atc-button {
		width: 20px;
		height: 20px;
		border-radius: 50%;

		.icon {
			width: 9px;
			height: 9px;

			svg path {
				fill: #ffffff;
			}
		}
	}
}
.product-card-3 {
    .atc-button {
        width: 32px;
        height: 32px;
        border-radius: 50%;

        .icon {
            width: 14px;
            height: 14px;

            svg path {
                fill: #ffffff;
            }
        }
    }
	.more-info {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		& svg {
			height: 10px;
		}
	}
}

.content-image-slider-each {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	& div {
		height: 100%;
		& img {
			height: 100%;
			object-fit: cover;
		}
	}
}
.btn-icon {
	display: inherit;
}

.global-social {
	a {
		width: auto;
		height: 13px;

		svg {
			width: auto;
			height: 13px;
		}
	}
}

/*============== Custom Checkbox ==================*/
.cb-container {
    display: inline-block !important;
    position: relative;
    // padding-left: 25px;
    cursor: pointer;
    user-select: none;
    line-height: 17px;
    font-size: 15px !important;
    font-weight: normal !important;
}

.cb-container .text {
	display: block;
}

.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.cb-container {
	.checkmark {
		position: absolute;
		top: 6px;
		left: 0;
		height: 5px;
		width: 5px;
		// border-radius: 50%;
		// box-shadow: 0 0 0 2px #fff, 0 0 0 3px #dedede;
		background-color: #2e2e2e;
		display: none;
	
		&.checked{
			// box-shadow: 0 0 0 2px #fff, 0 0 0 3px #2e2e2e;
			background-color: #2e2e2e;
			display: block;
		}
	}
	.checkmark-color{
		height: 10px;
		width: 10px;

		&.swatch-white{
			border: 1px solid #C4C4C6;
		}
	}
}

// .cb-container:hover input ~ .checkmark {
//     background-color: var(--comfort-orange);
// }
.cb-container:has(.checkmark.checked){
	padding-left: 13px;
}

.cb-container:not(.color-filter-option).active{
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -3px;
		width: 100%;
		height: 1px;
		background: var(--black);
		transition: 0.3s ease all;
		transform: scaleX(1);
		transform-origin: left;
	}
}
.cb-container:not(.color-filter-option):has(input:checked){
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -3px;
		width: 100%;
		height: 1px;
		background: var(--black);
		transition: 0.3s ease all;
		transform: scaleX(1);
		transform-origin: left;
	}

	// &:hover, &.active {
	// 	&::before {
	// 		transform: scaleX(1);
	// 	}
	// }
}

// .cb-container input:checked ~ .checkmark {
//     box-shadow: 0 0 0 2px #fff, 0 0 0 3px #2e2e2e;
//     background-color: #2e2e2e;
// }

// .cb-container .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
// }

// .cb-container input:checked ~ .checkmark:after {
//     display: block;
// }

.cb-container input:checked ~ .text {
    // opacity: 1;
	border: none;
	background-color: transparent;
}

// .cb-container .checkmark:after {
// 	left: 5px;
//     top: 2px;
//     width: 4px;
//     height: 8px;
//     border: solid #fff;
//     border-width: 0 1px 1px 0;
//     transform: rotate(45deg);
// }
/*============== End Custom Checkbox ==================*/

/*============== Custom Radio ==================*/
.radio-container {
    display: inline-block !important;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
    line-height: 17px;
    font-size: 15px !important;
    font-weight: normal !important;

	&.rc-dark {
		.checkmark {
			background-color: var(--comfort-orange);
			border: 1px solid var(--border-orange);

			&::after {
				background-color: #ffffff;
			}
		}

		input:checked ~ .checkmark {
			background-color: var(--comfort-orange);
			border-color:  #ffffff;
		}
	}
}

.radio-container .text {
	display: block;
}

.radio-container input[type="radio"],
.radio-container input[type="checbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-container .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid var(--border-orange);
}

// .radio-container:hover input ~ .checkmark {
//     border-color: var(--comfort-orange);
// }

.radio-container input:checked ~ .checkmark {
    background-color: #ffffff;
    border-color: var(--comfort-orange);
}

.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

// .radio-container input:checked ~ .text {
//     opacity: 1;
// }

.radio-container .checkmark:after {
	top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--comfort-orange);
}
/*============== End Custom Radio ==================*/

/*============== Custom Radio Style Button ==================*/
.radio-cb-btn-container {
	cursor: pointer;
	border-radius: 5px;
	overflow: hidden;
	background-color: #ffffff;
	padding: 5px 10px;
	border: 1px solid var(--border-orange);

	&.active {
		border: 2px solid var(--comfort-orange);
	}

	input {
		display: none;
	}
}
/*============== End Custom Radio Style Button ==================*/

.plus-icon {
	width: 24px;
	height: 24px;
	&.white {
		svg {
			fill: var(--white);
			width: 12px;
			height: 12px;
			& path {
				fill: var(--white);
			}
		}
	}
}

.payment-icons {
	.each {
		width: 35px;
		height: auto;

		@include on(desktop) {
			width: 46px;
		}
	}
}

.fade {
	opacity: 0;
	transition: all 0.3s linear;

    &.animated {
		opacity: 1;
	}
}

/** Typography **/
.spacing-0 {letter-spacing: 0 !important;}
.spacing-1 {letter-spacing: 1px !important;}
.spacing-2 {letter-spacing: 1.7px !important;}
.spacing-3 {letter-spacing: 3px !important;}
.spacing-4 {letter-spacing: 4px !important;}
.spacing-5 {letter-spacing: 5px !important;}
.font-0 {font-size: 0;}
.width-100 {width: 100%;}

/** Transform **/
.y1 {transform: translateY(1px);}
.y2 {transform: translateY(2px);}
.y3 {transform: translateY(3px);}
.y4 {transform: translateY(4px);}
.y5 {transform: translateY(5px);}
.y-1 {transform: translateY(-1px);}
.y-2 {transform: translateY(-2px);}
.y-3 {transform: translateY(-3px);}
.y-4 {transform: translateY(-4px);}
.y-5 {transform: translateY(-5px);}

/** Border radius **/
.b-radius-2 {border-radius: 2px;}
.b-radius-3 {border-radius: 3px;}
.b-radius-4 {border-radius: 4px;}
.b-radius-5 {border-radius: 5px;}

/** Swiper Pagination **/
.swiper-pagination {
	.swiper-pagination-bullet {
		width: 6px;
		height: 6px;
		background: var(--black);
		opacity: 0.5;
		border-radius: 50% !important;
		margin: 0 4px !important;
		border: 1px solid transparent;

		&.swiper-pagination-bullet-active {
			background: var(--black);
			opacity: 1;
		}
	}
}

/** Buttons **/
.button-w-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	padding: 18px 25px;
	border: 1px solid var(--light-green); 
	transition: 0.3s ease all;
	background: #fff;
	height: 53px;

	.icon {
		display: inline-block;
		font-size: 0;
		margin-right: 8px;
		width: 20px;
		height: 15px;

		@include on(tablet) {
			margin-right: 10px;
		}
		@include on(desktop) {
			margin-right: 12px;
		}

		svg {
			display: block;
			width: 20px;
			height: 15px;

			* {
				stroke: var(--light-green);
				transition: 0.3s ease all;
			}
		}

		&.icon-pin {
			width: 15px;
			height: 21px;

			svg {
				width: 15px;
				height: 21px;
			}
		}
	}

	&:hover {
		border: 1px solid var(--dark-green);

		svg {
			* {
				stroke: var(--dark-green);
				transition: 0.3s ease all;
			}
		}
	}
}

/** Forms */
.form-input {
	width: 100%;
    padding: 15px 15px;
    border: 1px solid var(--silver);

	@include on(desktop) {
		padding: 18px 20px;
	}
}

/** Product Each **/
.product-each-simple {
	.global-image-wrapper {
		padding-bottom: 100% !important;

		img {
			height: 100%;
			object-fit: cover;
		}
	}
}

/** z-indexs **/
.z-1 {z-index: 1;}
.z-2 {z-index: 2;}
.z-3 {z-index: 3;}
.z-4 {z-index: 4;}
.z-5 {z-index: 5;}

sup {
	font-size: small;
	vertical-align: super;
}


/** Swiper custom arrow **/
.swiper-custom-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 35px;
	height: 35px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0;
	z-index: 3;
	transition: 0.3s ease all;
	cursor: pointer;

	svg {
		width: 6px;
		height: 12px;
	}

	@include on(desktop) {
		width: 48px;
		height: 48px;
	}

	&.right {
		right: -17.5px;

		@include on(desktop) {
			right: -24px;
		}
	}
	&.left {
		left: -17.5px;

		@include on(desktop) {
			left: -24px;
		}
	}
	&.swiper-button-disabled {
		opacity: 0.3;
	}
}	

/** Swiper slider arrow **/
.swiper-slider-arrow {
	width: 20px;
	height: 20px;
	font-size: 0;
	z-index: 2;
	transition: 0.3s ease all;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	&.left {
		left: 15px;
	}
	&.right {
		right: 15px;
	}

	svg {
		width: 6px;
		height: 12px;
	}

	&.swiper-button-disabled {
		opacity: 0.3;
	}
}

/** Swiper grid arrow **/
.swiper-grid-arrow {
	width: 27px;
	height: 7px;
	font-size: 0;
	// z-index: 2;
	transition: 0.3s ease all;
	cursor: pointer;

	svg {
		width: 27px;
		height: 7px;
	}

	&.swiper-button-disabled {
		opacity: 0.3;
	}
}	


/** Header search suggestion **/
body {
	&.boost-pfs-search-suggestion-mobile-open:not(.boost-pfs-search-suggestion-open-body) {
		.boost-pfs-search-suggestion-mobile {
			display: none !important;
		}
	}
	&:not(.boost-pfs-search-suggestion-mobile-open) {
		.boost-pfs-search-suggestion-mobile {
			display: none !important;
		}
	}

	.boost-pfs-search-suggestion-wrapper {
		z-index: 9000000;

		.boost-pfs-search-suggestion-product-sale-price {
			color: var(--black);
		}
	}
	.boost-pfs-search-suggestion-wrapper * {
		font-family: 'Inter', sans-serif !important;
	}
	.boost-pfs-search-suggestion-popover {
		display: none !important;
	}
	.boost-pfs-search-suggestion-column-1:not(.boost-pfs-search-suggestion-mobile):not(.boost-pfs-search-suggestion-wrapper-style2).boost-pfs-search-suggestion-product-item-type-list .boost-pfs-search-suggestion {
		width: 100%;
		margin-top: 15px;
		box-shadow: unset;
		border-radius: 0;
		border: 1px solid var(--silver);
	}
	.boost-pfs-search-suggestion-no-result {
		margin-bottom: 0 !important;
		border: 0 !important;

		& + .boost-pfs-search-suggestion-scroll-groups-element-wrapper {
			display: none;
		}
	}
	.boost-pfs-search-suggestion-item:hover, .boost-pfs-search-suggestion-item.selected {
		box-shadow: unset;
		background: transparent;
	}
	.boost-pfs-search-suggestion-item-product .boost-pfs-search-suggestion-left {
		border-radius: 0;
	}
	.boost-pfs-search-suggestion-item-product .boost-pfs-search-suggestion-left img {
		height: 100%;
		border-radius: 0;
		object-fit: cover;
	}
	.boost-pfs-search-suggestion-product-title,
	.boost-pfs-search-suggestion-product-price,
	.boost-pfs-search-suggestion-item.boost-pfs-ui-item a {
		font-family: 'Inter', sans-serif;
		letter-spacing: 0px;
		font-weight: 400;
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 1.4;
		color: var(--black);
		font-weight: 500;

		@include on(desktop) {
			font-size: 13px;
		}
	}
	.boost-pfs-search-suggestion-product-price { 
		color: var(--grey);
		margin-top: 3px;
	}
	.boost-pfs-search-suggestion-header {
		font-weight: 600;
		letter-spacing: 1.5px;
		color: var(--black);
		font-size: 10px;

		@include on(desktop) {
			font-size: 11px;
		}

		> a {
			span {
				display: inline-flex;
				align-items: center;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				color: var(--black);
				font-size: 10px;

				@include on(desktop) {
					font-size: 11px;
				}

				svg {
					width: 15px;
					height: 13px;
					margin-left: 5px;
				}
			}

			&:hover {
				background: #fff;
			}
		}
	}
	.boost-pfs-search-suggestion-group ul .boost-pfs-search-suggestion-header {
		padding-bottom: 3px;
	}
	.boost-pfs-search-suggestion .boost-pfs-search-suggestion-scroll-groups-element-wrapper {
		padding-bottom: 20px;
	}

	@media screen and (max-width: 1023px) {
		.boost-pfs-search-suggestion-mobile.boost-pfs-search-suggestion-wrapper {
			margin-top: 36px;
			height: calc(100vh - 178px);
		}
		.boost-pfs-search-suggestion-mobile .boost-pfs-search-suggestion-group {
			padding: 0 15px;
		}
		.boost-pfs-search-suggestion-mobile .boost-pfs-search-suggestion-group > ul > .boost-pfs-search-suggestion-header {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.boost-pfs-search-suggestion-mobile .boost-pfs-search-suggestion-item {
			padding: 15px;
		}
		.boost-pfs-search-suggestion-mobile .boost-pfs-search-suggestion-item:last-child,
		.boost-pfs-search-suggestion-mobile .boost-pfs-search-suggestion .boost-pfs-search-suggestion-item.boost-pfs-search-suggestion-item-product:last-child {
			padding-bottom: 15px;
			border: 0 !important;
		}
		.boost-pfs-search-suggestion-mobile .boost-pfs-search-suggestion-header + .boost-pfs-search-suggestion-item.boost-pfs-search-suggestion-item-product {
			padding-top: 15px;
		}
		.boost-pfs-search-suggestion-mobile .boost-pfs-search-suggestion .boost-pfs-search-suggestion-scroll-groups-element-wrapper {
			max-height: unset !important;
			padding-bottom: 30px;
		}
	}
}


/** Splitting **/
/* Recommended styles for Splitting */
.splitting .word,
.splitting .char {
  display: inline-block;
}

/* Psuedo-element chars */
.splitting .char {
  position: relative;
}

/**
 * Populate the psuedo elements with the character to allow for expanded effects
 * Set to `display: none` by default; just add `display: block` when you want
 * to use the psuedo elements
 */
.splitting .char::before,
.splitting .char::after {
  content: attr(data-char);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: inherit;
  user-select: none;
}

/* Expanded CSS Variables */

.splitting {
  /* The center word index */
  --word-center: calc((var(--word-total) - 1) / 2);

  /* The center character index */
  --char-center: calc((var(--char-total) - 1) / 2);

  /* The center character index */
  --line-center: calc((var(--line-total) - 1) / 2);
}

.splitting .word {
  /* Pecent (0-1) of the word's position */
  --word-percent: calc(var(--word-index) / var(--word-total));

  /* Pecent (0-1) of the line's position */
  --line-percent: calc(var(--line-index) / var(--line-total));
}

.splitting .char {
  /* Percent (0-1) of the char's position */
  --char-percent: calc(var(--char-index) / var(--char-total));

  /* Offset from center, positive & negative */
  --char-offset: calc(var(--char-index) - var(--char-center));

  /* Absolute distance from center, only positive */
  --distance: calc(
     (var(--char-offset) * var(--char-offset)) / var(--char-center)
  );

  /* Distance from center where -1 is the far left, 0 is center, 1 is far right */
  --distance-sine: calc(var(--char-offset) / var(--char-center));

  /* Distance from center where 1 is far left/far right, 0 is center */
  --distance-percent: calc((var(--distance) / var(--char-center)));
}
.splitting.cells img { width: 100%; display: block; }

@supports ( display: grid ) {
  .splitting.cells {
    position: relative;
    overflow: hidden;
    background-size: cover;
    visibility: hidden;
  }

  .splitting .cell-grid {
    background: inherit;
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    display: grid;
    grid-template: repeat( var(--row-total), 1fr ) / repeat( var(--col-total), 1fr );
  }

  .splitting .cell {
    background: inherit;
    position: relative;
    overflow: hidden;
  }

  .splitting .cell-inner {
    background: inherit;
    position: absolute;
    visibility: visible;
    /* Size to fit the whole container size */
    width: calc(100% * var(--col-total));
    height: calc(100% * var(--row-total));
    /* Position properly */
    left: calc(-100% * var(--col-index));
    top: calc(-100% * var(--row-index));
  }

  /* Helper variables for advanced effects */
  .splitting .cell {
    --center-x: calc((var(--col-total) - 1) / 2);
    --center-y: calc((var(--row-total) - 1) / 2);

    /* Offset from center, positive & negative */
    --offset-x: calc(var(--col-index) - var(--center-x));
    --offset-y: calc(var(--row-index) - var(--center-y));

    /* Absolute distance from center, only positive */
    --distance-x: calc( (var(--offset-x) * var(--offset-x)) / var(--center-x) );

    /* Absolute distance from center, only positive */
    --distance-y: calc( (var(--offset-y) * var(--offset-y)) / var(--center-y) );
  }
}

.swym-button-bar {
	margin: 0 !important;
}

/** Okendo **/
div[data-oke-widget] {
	.okeReviews[data-oke-container] .oke-w-breakdownModule-distribution, 
	div.okeReviews .oke-w-breakdownModule-distribution {
		grid-row-gap: 5px;
	}
}
.oke-stars svg {
	width: auto;
}

/** TEST TO BE DELETED**/
#shopify-section-header {
	background-color: unset !important;
}
.shopify-section {
	background-color: var(--white);
	position: relative;
	z-index: 1;
}

/* In-store availability */
.store-availability-popup .loading {
	transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: {
        repeat: no-repeat;
        position: center;
        image: url("black-rolling.gif");
        size: auto 100%;
    }
    width: 100%;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}