/** Link styling */
.link-icon {
	position: relative;
	font-size: 0;
    display: inline-flex;
    align-items: center;
	opacity: 1;
	transition: 0.3s ease all;

	.text {
		line-height: 1;
	}
	
	.icon {
        display: inline-block;
		width: 11px;
		height: 8px;

		svg {
			width: 11px;
			height: 8px;
		}
	} 
}

.link1, .link2, .link3 {
	transition: 0.3s ease all !important;
}

#header-bar ul li a {
	&::before {
		background: #fff;
	}
}