@font-face {
    font-family: 'Studio Pro';
    src: url('studio-pro-bold-webfont.woff2') format('woff2'),
        url('studio-pro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Studio Pro';
    src: url('studio-pro-medium-italic-webfont.woff2') format('woff2'),
        url('studio-pro-medium-italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Studio Pro';
    src: url('studio-pro-bold-italic-webfont.woff2') format('woff2'),
        url('studio-pro-bold-italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Studio Pro';
    src: url('studio-pro-medium-webfont.woff2') format('woff2'),
        url('studio-pro-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Studio Pro';
    src: url('studio-pro-regular-italic-webfont.woff2') format('woff2'),
        url('studio-pro-regular-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Studio Pro';
    src: url('studio-pro-regular-webfont.woff2') format('woff2'),
        url('studio-pro-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Studio Pro';
    src: url('studio-pro-semi-bold-italic-webfont.woff2') format('woff2'),
        url('studio-pro-semi-bold-italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Studio Pro';
    src: url('studio-pro-ultrabold-italic-webfont.woff2') format('woff2'),
        url('studio-pro-ultrabold-italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Studio Pro';
    src: url('studio-pro-ultrabold-webfont.woff2') format('woff2'),
        url('studio-pro-ultrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Studio Pro';
    src: url('studio-pro-semi-bold-webfont.woff2') format('woff2'),
         url('studio-pro-semi-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

