/* This defines the minimum, maximum and step for margins / padding */
/* PLEASE UPDATE style-guide/margins.php IF YOU CHANGE THE VALUES HERE */
$margins: ();

$margin_max:25;
$margin_step:1;
$margin_min:0;
@while $margin_max >= $margin_min {
	$margins : join($margins,$margin_max);
	$margin_max: $margin_max - $margin_step;
}

$margin_max:200;
$margin_step:4;
$margin_min:28;
@while $margin_max >= $margin_min {
	$margins : join($margins,$margin_max);
	$margin_max: $margin_max - $margin_step;
}

$rte-spacing: rem(15);