<style>
    #shopify-section-{{ section.id }} .horizontal-line {
        position: relative;
        width: 100%;
        height: {{ section.settings.height }}px;
        background-color: {{ section.settings.bg_color }};
    }

    {%- if section.settings.show_on == 'mobile_tablet' -%}
      @media screen and (min-width: 1024px) {
        #shopify-section-{{ section.id }} .horizontal-line {
          display: none;
        }
      }
    {%- endif -%}
</style>

<section class="horizontal-line"></section>

{% schema %}
    {
      "name": "Horizontal Line",
      "settings": [
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
          "type": "number",
          "id": "height",
          "label": "Height",
          "info": "in px"
        },
        {
          "type": "select",
          "id": "show_on",
          "label": "Show on",
          "options": [
            {
              "value": "all_screen",
              "label": "All Screen"
            },
            {
              "value": "mobile_tablet",
              "label": "Mobile & Tablet"
            }
          ],
          "default": "all_screen"
        }
      ],
      "blocks": [],
      "presets": [
        {
          "name": "Horizontal Line"
        }
      ]
    }
  {% endschema %}