<section class="password-page" style="background-image:url('{{ section.settings.image | img_url:'2000x'}});">
  <div class="password-details text-center">
    <h1 class="header-1">{{ section.settings.title }}</h1>
    {% if section.settings.text != blank %}
    <div class="rte">
      <p>{{ section.settings.text }}</p>
    </div>
    {% endif %}
    {% if section.settings.password %}
    {% form 'storefront_password' %}
    <p class="body-1 mb-20">Enter store password</p>
    <div>
    <input type="password" name="password" id="Password" class="border-border bt-1 bb-1 bl-1 br-1 body-1 mb-10">
  </div>
    <button class="button-1">Submit</button>
    {% endform %}
    {% endif %}
  </div>
</section>
{% schema %}
  {
    "name": "Password Page Content",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "password",
        "label": "Show password form"
      }
    ]
  }
{% endschema %}
