<section class="global-content-top-margin collection-con relative">
	<div class="collection-content">
		<div class="container cf">
			{%- render 'collection-products' -%}
		</div>
	</div>
</section>
<section class="global-content-top-margin collection-con relative">
	<div class="collection-content">
		<div class="container cf">
			{%- render 'collection-products' -%}
		</div>
	</div>
</section>