<section class="global-content-top-margin pt-20 t-pt-30 d-pt-50 pb-20 t-pb-30 d-pb-50">
  <div class="container">
    <div class="max-800">
      <h1 class="h5 mb-20">{{ page.title }}</h1>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>