{% comment %} Love&Co Theme {% endcomment %}
{%- if customer -%}
    <style>
        #my-reset-page .each-cell{
            width:25%;
            padding:15px;
        }
    
        @media screen and (min-width: 1024px) {
            #my-reset-page .each-cell{
                padding:20px 30px;
            }
            #my-reset-page .text-container{
                width:25%;
                padding-right:40px;
            }
            #my-reset-page .box-container{
                width:75%;
            }
        }
    </style>
    
    {{ 'jquery-ajax-module.js' | asset_url | script_tag }}
    
    <div id="my-reset-page" class="global-content-top-margin">
        {%- render 'account-page-title' -%}
        {%- render 'account-navigation', filter_active:"reset" -%}
        <div class="container pt-40 pb-40 t-pt-60 t-pb-60 d-pt-80 d-pb-80">
            <div class="h7 tc pb-5 d-pb-10">Reset Password</div>
            <div class="p2 tc c-grey max-450 mx-auto">Click the button below to reset your password. An email with a password reset link will be sent to your registered email address.</div>
            {% form 'recover_customer_password' %}
                <div class="hide-m">
                    <label for="" class="p3">Email Address</label>
                    <input type="text" class="mt-10 p1 global-input" value="{{customer.email}}" name="email" id="">
                </div>
                <div class="tc mt-25 d-mt-30">
                    <button type="submit" class="btn1">Reset Password</button>
                    {% if form.errors %}
                    <div class="p3 text-center mt-10 d-mt-15">
                        {{ form.errors | default_errors }}
                    </div>
                    {%- endif -%}
                </div>
                <input type="hidden" name="return_to" value="/account/login#recover-success" />
            {%- endform -%}
        </div>
    </div>
    
    
    {%- else -%}
      {% comment %} <script>location.href = "/account";</script> {% endcomment %}
    {%- endif -%}
    