// Page Layout
// ===========

// Typography
// ==========


//'adobe-garamond-pro', 'adriane',
$base: 1rem;
$base-line-height: 1.4;

//Essentials

// Default Transition Settings
// ===========================
$default-transition-duration: 0.125s;
$default-transition-easing: ease-in;
$default-transition-delay: 0s;

// Screen sizes
// ============

// Essentials
$gutter : 8px;
$gutter_t : 8px;
$gutter_d : 8px;

$container_padding: 20px;
$container_padding_t: 30px;
$container_padding_d: 40px;
$container_padding_max: 48px; 
$container_padding_hd: 48px;
$container_padding_hhd: 48px;

// Retina DPI threshold
// ==================
$retina-dpi: 144; 
